markdown2
numpy
transformers
spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
jinja2>=3.0.0
openai
cfenv
pyyaml
argparse
psycopg[binary]
flask
flask-restx
dataclasses-json